@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Maven+Pro&display=swap');
/* General Styles */
html, body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  background-color: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  width: 100px;
  height: 60px;
  background: #7FAECC;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}


/* Begin app styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerContainer, .signinContainer {
  display: flex;
}

.registerForm, .signinForm {
  width: 50%;
  padding-left: 136px;
  background: #F1F3F6;
  backdrop-filter: blur(10px);
}

/* Register Form styles */

.registerForm {
  height: 1300px;
}

.imageContainer {
  width: 50%;
}

.imageContainer img {
  height: 1300px;
  width:100%;
}

input {
  display: block;
  width: 60%;
  height: 48px;
  margin: 2% 0;
}

.formHeading {
  width: 277px;
  height: 40px;
  font-size: 31.3px;
  line-height: 127%;
  margin-top: 98px;
}

/* custom checkbox styles */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid black;
}

.checkContainer input:checked ~.checkmark {
  background-color: #7FAECC;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkContainer input:checked ~.checkmark:after {
  display: block;
}

.checkContainer .checkmark:after {
  left: 4px;
  bottom: 4px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.createBtn, .signinBtn {
  width: 50%;
  height: 48px;
  margin-top: 6%;
  margin-left: 5%;
  border-radius: 8px;
}

.registerForm a, .signinForm a {
  text-decoration: none;
  color: #F46032;
  font-weight: bold;
}

.buttonDiv {
  margin-left: 100px;
}

.buttonDiv button {
  width: 100px;
  height: 60px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 14px;
}


/* Sign In Form Styles */

.signinForm {
  height: 940px;
}

.signinImg img {
  height: 940px;
}

/* NavBar Styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 84px;
  background-color: #1F2A4C;
}

nav a {
  color: white;
  text-decoration: none;
}

i {
  color: white;
}

.sellBtn {
  width: 13%;
  height: 48px;
}
/* Farm Card styles */
.farmCard {
  display: flex;
  flex-direction: column;
  width: 43%;
  margin: 2%;
  background: #F8F9FA;
  border-radius: 10px;
}

.farmCardHeader {
  display: flex;
  align-items: center;
  margin: 0 3%;
}

.farmCardHeader h4 {
  margin-right: 10%;
}

.farmCard img {
  width: 100%;
  height: 196px;
}

.farmCardDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 3% 2%;
}

.farmCardDesc button {
  width: 120px;
  height: 32px;
  border-radius: 4px;
  font-size: 12.8px;
  color: black;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart {
  border: none;
  background-color: white;
  height: 18px;
  width: 18px;
  margin-right: 5%;
  padding: 0;
}

.farmCard h5 {
  margin: 2% 3%;
}

.far.fa-heart {
  color: black;
}

.fas.fa-heart {
  color: red;
}


/* Farm List styles */
.farmList {
  width: 100%;
}

.headerImg {
  background-image: url('./components/farm.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 96%;
  height: 196px;
  padding: 1% 2%;
  color: rgb(238, 237, 237);
}

.headerImg p {
  width: 40%;
}

.farmsMain {
  display: flex;
}

.filterBy {
  width: 411px;
  margin-left: 20px;
}

.farms {
  display: flex;
  flex-flow: row wrap;
  margin: 1% 1%;
}

/* Footer styles */
footer {
  background-color: white;
  line-height: 2;
}

footer a {
  color: rgba(43, 41, 45, 0.6);
}

.footerTop {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 5%;
}

.footerTop div {
  display: flex;
  flex-direction: column;
}

.footerBottom {
  border-top: 1px solid rgba(43, 41, 45, 0.2);
  display: flex;
  justify-content: space-between;
}

.footerBottom a {
  margin: 0 5%;
}

.footerBtmLeft, .footerBtmRight {
  width: 49%;
  margin: 1% 0;
}

.footerBtmLeft {
  margin-left: 3.5%;
}

.footerBtmRight {
  margin-left: 65%;
}

.footerBtmRight i {
  color: rgba(43, 41, 45, 0.6);
}

/* Shopping Cart styles */
.cartContainer {
  width: 100%;
  background-color: white;
}

.cartContainer h2 {
  padding: 4% 7% 1%;
}

.cartBody {
  display: flex;
  justify-content: space-between;
  padding: 0 7% 5%;
}

.itemList {
  width: 68%;
  background-color: #F1F3F6;
  border-radius: 5px;
}

.orderSummary {
  width: 30%;
  background-color: #F1F3F6;
  border-radius: 5px;
}

.orderSummary h3 {
  color: white;
  background-color: #1F2A4C;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  padding: 2% 3%;
}

.summary p {
  border-bottom: 1px solid #DDE2E5;
  padding: 0 3% 2%;
}

.cartBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6%;
}

.cartBtns button {
  width: 180px;
  height: 48px;
  margin: 3% 0;
  color: black;
}

.continue {
  background-color: #F1F3F6;
  border: 1px solid #F46032;
}

.continue:hover {
  background-color: #F46032;
}

/* Media queries */
@media (max-width: 500px) {
  .imageContainer {
    display: none;
  }
  .registerForm, .signinForm {
    width: 100%;
    padding-left: 0;
  }
  input {
    width: 100%;
    height: 30px;
  }
  .formHeading {
    margin-top: 10%;
  }
  .registerForm {
    height: 800px;
  }
  .createBtn, .signinBtn {
    margin-left: 24%;
  }
  .signinForm {
    height: 600px;
  }
  .sellBtn {
    display: none;
  }
  .farmCard {
    width: 100%;
    margin-right: 3%;
  }
  .farmsMain {
    flex-direction: column;
  }
  .filterBy {
    width: 90%;
    text-align: center;
  }
  .filterBy h4, .filterBy p {
    font-size: 14px;
    margin: 2% 0;
  }
}




