@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Maven+Pro&display=swap');

html, body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm, .signinForm {
  position: absolute;
  width: 725px;
  left: 715px;
  padding-left: 136px;
  background: #F1F3F6;
  backdrop-filter: blur(10px);
}


input {
  display: block;
  width: 432px;
  height: 48px;
  margin: 2% 0;
}

.formHeading {
  width: 277px;
  height: 40px;
  font-size: 31.3px;
  line-height: 127%;
  margin-top: 98px;
}

.checkContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid black;
}

.checkContainer input:checked ~.checkmark {
  background-color: #7FAECC;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkContainer input:checked ~.checkmark:after {
  display: block;
}

.checkContainer .checkmark:after {
  left: 4px;
  bottom: 4px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.createBtn, .signinBtn {
  width: 366px;
  height: 48px;
  margin-top: 60px;
  background: #7FAECC;
  border-radius: 8px;
  font-weight: bold;
}

.registerForm a, .signinForm a {
  text-decoration: none;
  color: #F46032;
  font-weight: bold;
}

.signinForm {
  height: 940px;
}